<% @page_title = " | Edit Item" %>
<div class="dm_items edit col-xs-6 col-xs-offset-3">
  <h1>Update Digital Media Item</h1>

  <%= render(:partial => "form") %>

  <div class="col-xs-12">
    <p>&nbsp;</p>
    <p class="text-muted">Created: <%= @dm_item.created_at.strftime("%x %X") %></p>
    <p class="text-muted">Last updated: <%= @dm_item.updated_at.strftime("%x %X") %></p>
  </div>

</div>
