<% @page_title = " | Edit Item" %>

<br/>
<br/>
<div class="dm_items edit">
      <h2>Update Digital Media Item</h2>

    <%= render(:partial => "form") %>

  <%= link_to("<< Back to List", dm_items_path, :class => 'back-link') %>
</div>
