<% @page_title = " | Update Item" %>

<br/>
<br/>
<div class="dm_items edit">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Update Digital Media Item</h2>
  </div>
  <%= form_for(:dm_item, :url => {:action => 'update', :id => @dm_item.id}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Update") %>
    </div>

  <% end %>
  <%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
</div>
