<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="dm_items new">
  <h2>New Digital Media Item</h2>

  <%= form_for(:dm_item, :url => {:action => 'create'}) do |f| %>
  <%= render(:partial => "form", :locals => {:f => f}) %>
    <div class="form-buttons">
      <%= submit_tag("Create DmItem") %>
    </div>

  <% end %>
</div>