<% @page_title = " | Add Item" %>
<br/>
<br/>
<div class="dm_items new">
      <h2 class="panel-title">Add Digital Media Item</h2>

  

  <%= render(:partial => "form") %> 
  <%= link_to("<< Back to List", dm_items_path, :class => 'back-link') %>
</div>