<%# add navigation links to this file %>

<%# <%= link_to 'Search', "/search" %>


<td>
  <div class="btn-group">
		<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    	Repositories
        <span class="caret"></span>
		</button>
    </ul>
  </div>
</td>

